html,
body {
    height: 100%;
}

body {
    grid-template-rows: 10% 80% 10%;
    background-color: rgb(229, 253, 251); 
}
@font-face {
    font-family: maruburi;
    src: url("./font/MaruBuri-Bold.ttf");
}
#maruburi_font {
    font-family: "maruburi";
}

header {
    grid-template-rows: 50% 50%;
}

header > #top {
    justify-content: space-between;
    border-bottom: 3px solid rgb(31, 141, 168);
    font-family: "maruburi";
}
header > #bottom {
    justify-content: space-between;
}

main {   
    padding-left: 10%;
    padding-right: 10%;
}

main > div {
    height: 100%;
    grid-template-columns: 10% 75% 15%;
    background-color: rgb(247, 232, 215);
    border: 2px solid rgb(68, 95, 121);
}
.d-grid {
    display: grid;
}
.margin-unset {
    margin: unset;
}
.d-flex {
    display: flex;
}